@font-face {
  font-family: 'tall_dark_and_handsomeCn';
  src: url("../fonts/talldark/talldark-webfont.eot");
  src: url("../fonts/talldark/talldark-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/talldark/talldark-webfont.woff2") format("woff2"), url("../fonts/talldark/talldark-webfont.woff") format("woff"), url("../fonts/talldark/talldark-webfont.ttf") format("truetype"), url("../fonts/talldark/talldark-webfont.svg#tall_dark_and_handsomeCn") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'icons';
  src: url("fonts/aaIcons.eot");
  src: url("../fonts/icons/aaicons.eot") format("embedded-opentype"), url("../fonts/icons/aaIcons.woff") format("woff"), url("../fonts/icons/aaIcons.ttf") format("truetype"), url("../fonts/icons/aaIcons.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lemonmilk';
  src: url("../fonts/lemonmilk/lemonmilk-webfont.woff2") format("woff2"), url("../fonts/lemonmilk/lemonmilk-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lemonmilklight';
  src: url("../fonts/lemonmilk/lemonmilklight-webfont.woff2") format("woff2"), url("../fonts/lemonmilk/lemonmilklight-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lemonmilkbold';
  src: url("../fonts/lemonmilk/lemonmilkbold-webfont.woff2") format("woff2"), url("../fonts/lemonmilk/lemonmilkbold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lemonmilk_italic';
  src: url("../fonts/lemonmilk/lemonmilkitalic-webfont.woff2") format("woff2"), url("../fonts/lemonmilk/lemonmilkitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lemonmilklight_italic';
  src: url("../fonts/lemonmilk/lemonmilklightitalic-webfont.woff2") format("woff2"), url("../fonts/lemonmilk/lemonmilklightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lemonmilkbold_italic';
  src: url("../fonts/lemonmilk/lemonmilkbolditalic-webfont.woff2") format("woff2"), url("../fonts/lemonmilk/lemonmilkbolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.loading {
  background-color: #666666; }

.loading .wrapper {
  display: table;
  height: 100%;
  width: 100%; }

.loading hgroup {
  display: table-cell;
  vertical-align: middle; }

.loading h1,
.loading h2 {
  display: table;
  color: #FFFFFF;
  margin: 0 auto;
  text-align: center;
  white-space: nowrap; }

.loading h1 {
  font-size: 13vw; }

.loading h1 span {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  margin: 0; }

.loading h2 {
  -webkit-transition: all 0.5s ease-in;
  -moz-transition: all 0.5s ease-in;
  -o-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  font-size: 10vw;
  opacity: 0.5;
  animation: ANIM-GLOW 10s infinite; }

.loading-off {
  opacity: 0.2; }

.loading-on {
  opacity: 1; }

@-moz-document url-prefix();

/*# sourceMappingURL=loading.css.map */
