@font-face {
    font-family: 'tall_dark_and_handsomeCn';
    src: url('../fonts/talldark/talldark-webfont.eot');
    src: url('../fonts/talldark/talldark-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/talldark/talldark-webfont.woff2') format('woff2'), url('../fonts/talldark/talldark-webfont.woff') format('woff'), url('../fonts/talldark/talldark-webfont.ttf') format('truetype'), url('../fonts/talldark/talldark-webfont.svg#tall_dark_and_handsomeCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'icons';
    src: url('fonts/aaIcons.eot');
    src: url('../fonts/icons/aaicons.eot') format('embedded-opentype'), url('../fonts/icons/aaIcons.woff') format('woff'), url('../fonts/icons/aaIcons.ttf') format('truetype'), url('../fonts/icons/aaIcons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lemonmilk';
    src: url('../fonts/lemonmilk/lemonmilk-webfont.woff2') format('woff2'), url('../fonts/lemonmilk/lemonmilk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lemonmilklight';
    src: url('../fonts/lemonmilk/lemonmilklight-webfont.woff2') format('woff2'), url('../fonts/lemonmilk/lemonmilklight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lemonmilkbold';
    src: url('../fonts/lemonmilk/lemonmilkbold-webfont.woff2') format('woff2'), url('../fonts/lemonmilk/lemonmilkbold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lemonmilk_italic';
    src: url('../fonts/lemonmilk/lemonmilkitalic-webfont.woff2') format('woff2'), url('../fonts/lemonmilk/lemonmilkitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lemonmilklight_italic';
    src: url('../fonts/lemonmilk/lemonmilklightitalic-webfont.woff2') format('woff2'), url('../fonts/lemonmilk/lemonmilklightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'lemonmilkbold_italic';
    src: url('../fonts/lemonmilk/lemonmilkbolditalic-webfont.woff2') format('woff2'), url('../fonts/lemonmilk/lemonmilkbolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}