$font-bastaky_regular: 'lemonmilk'
$font-bastaky_light: 'lemonmilklight'
$font-bastaky_bold: 'lemonmilkbold'
$font-bastaky_italic: 'lemonmilk_italic'
$font-icon: 'icons'

$color-black: #222222
$color-white: #FFFFFF
$color-grey: #666666
$color-red: #CC3333
$color-blue: #94ABD7
$color-green: #588E3E
$color-yellow: #FDD23B

@mixin transition-all($seconds)
  -webkit-transition: all $seconds ease-in
  -moz-transition: all $seconds ease-in
  -o-transition: all $seconds ease-in
  transition: all $seconds ease-in

@mixin transform-rotate($grades)
  -webkit-transform: rotate($grades)
  -moz-transform: rotate($grades)
  -ms-transform: rotate($grades)
  -o-transform: rotate($grades)
  transform: rotate($grades)