@import 'fonts'
@import 'initialize'

$font-bastaky: 'tall_dark_and_handsomeCn'
$font-icon: 'icons'
$color-black: #222
$color-white: #fff
$color-red: #CC3333
$color-blue: #9998FF
$color-green: #588E3E
$color-yellow: #FDD23B

@mixin transition-all($seconds)
  -webkit-transition: all $seconds
  transition: all $seconds

@mixin transform-rotate($grades)
  -webkit-transform: rotate($grades)
  -moz-transform: rotate($grades)
  -ms-transform: rotate($grades)
  -o-transform: rotate($grades)
  transform: rotate($grades)


html
  font-size: 1em
  height: 100%
  margin: 0
  padding: 0
  width: 100%
  min-height: 100% !important


body
  background: linear-gradient(90deg, $color-green 50%, $color-yellow 50%)
  height: 100%
  width: 100%
  overflow-x: hidden
  /*background-color: #222*/

h1, h2
  font-family: $font-bastaky
  font-weight: normal

h1
  text-shadow: 3px 3px rgba(0,0,0,.5)


.rhombus
  @include transform-rotate(45deg)

  -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,.75)
  -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,.75)
  box-shadow: 0px 10px 30px 0px rgba(0,0,0,.75)

#footer
  background-color: $color-black
  height: 50px
  width: 100%
  position: fixed
  bottom: 0
  z-index: 10
  display: table

.footer-block
  height: 32px
  padding-top: 2px
  position: absolute
  top: 0
  bottom: 0
  margin: auto

#social
  @extend .footer-block
  overflow: hidden
  right: 10px

#languajes
  @extend .footer-block
  left: 10px
  display: block

.languajes-bt
  height: 30px
  width: 30px
  margin-right: 4px
  display: inline-block
  cursor: pointer

#languajes a
  border: 1px solid $color-black

#languajes a:hover
  border: 1px solid $color-white

#languajes-spa
  @extend .languajes-bt
  background-image: url('../img/flag_spa.png')

#languajes-eng
  @extend .languajes-bt
  background-image: url('../img/flag_eng.png')

#social p
  color: $color-white
  font-family: $font-bastaky
  font-size: 30px
  margin-right: 3px
  display: inline-block

#social p span
  font-size: 20px

#social a
  color: $color-white
  font-family: $font-icon
  font-size: 32px
  text-decoration: none
  margin-right: 3px

#social a:hover
  color: $color-red

#home
  background-image: url('../img/bastaky_logo_fondo.png')
  background-size: cover
  background-position: center
  display: block

  width: 100%
  /*max-width: 906px;*/
  height: 100%
  max-height: 906px

  @include transition-all(2s)

.home-sq
  /*background-color: #F00*/
  background-size: 100%
  margin: 0 auto
  position: absolute
  top: 0px

#home-sq-up
  @extend .home-sq
  background-image: url('../img/bastaky_logo_up.png')

#home-sq-left
  @extend .home-sq
  background-image: url('../img/bastaky_logo_left.png')

#home-sq-right
  @extend .home-sq
  background-image: url('../img/bastaky_logo_right.png')

#home-sq-down
  @extend .home-sq
  background-image: url('../img/bastaky_logo_down.png')

.space
  @include transition-all(2s)

@media screen and (-webkit-min-device-pixel-ratio:0)
@-moz-document url-prefix()

@media only screen and (min-width : 1024px)